body{padding-top:50px;}
.sub-header{padding-bottom:10px;border-bottom:1px solid #eee;}
.sidebar{display:none;}
@media (min-width:768px){.sidebar{position:fixed;top:0;left:0;bottom:0;z-index:1000;display:block;padding:70px 18px 20px;background-color:#4e5d6c;border-right:1px solid #2b3e50;}
.sidebar-admin{position:fixed;top:0;left:0;bottom:0;z-index:1000;display:block;padding:70px 18px 20px;background-color:#f5f5f5;border-right:1px solid white;}
}
.nav-sidebar{margin-left:-20px;margin-right:-21px;margin-bottom:20px;}
.nav-sidebar > li > a{padding-left:20px;padding-right:18px;}
.nav-sidebar > .active > a{color:#fff;background-color:#428bca;}
.nav-sidebar > li > a:hover{color:#fff;background-color:#428bca;}
.main{padding:20px;}
@media (min-width:768px){.main{padding-left:40px;pading-right:40px;}
}
.main .page-header{margin-top:0;}
.placeholders{margin-bottom:30px;text-align:center;}
.placeholders h4{margin-bottom:0;}
.placeholder{margin-bottom:20px;}
.placeholder img{border-radius:50%;}